:root{
    --font: 
}


*{
    background-color:gray ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
Body{
    position:relative;
    background-color: ;
    color: var(--font);
    margin: 5%;
}
header{
    background-color: black;
    box-shadow: 10px 5px 5px #39ff14 
}
header h1{
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 8px;
    color: #39ff14;

    
}
nav a{
    display: flex;
    flex-direction: column;
    background-color: black;
}