:root{
    --text-shadow:  
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px  #0b30d8,
    0 0 80px  #0b30d8,
    0 0 90px  #0b30d8,
    0 0 100px #0b30d8,
    0 0 150px #0b30d8;

}
*{
    font-family: OCR A Std, monospace;
    box-sizing: border-box;
    margin: auto;
}
body{
    background: url(./Assets/Images/pexels-marlon-martinez-1450082.jpg) center no-repeat;
    background-size: cover;
}
.header{
    align-items: center;
    font-size: 25px;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 5em;
    color: white;
    text-shadow:var(--text-shadow)
}
nav {
    margin: 0 auto;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-style: italic;
    color: white;
    font-size: 15px;
    text-shadow:var(--text-shadow)
}
h2{
    font-size: 75px;
    text-shadow: var(--text-shadow);
    text-align: center;
    opacity: 0.5;
}
.About-Me{
    width: 550px;
    padding: 50px;
    margin: auto;
    
}

#Contact-Section{
    width: 550px;
    padding: 50px;
    margin: auto;
}

.contactLinks{
    font-size: 50px;
    text-align: center;
    
}
.contactLinks a{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color:blanchedalmond;
}
    